.container {
  background-color: var(--bc-color);
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--preto);
  width: 100%;
  max-width: 600px;
}
h1 {
  text-align: center;
  color: var(--cinza-escuro);
  margin-bottom: 25px;
}
.formGroup {
  margin-bottom: 18px;
}
.formGroup label {
  display: block;
  margin-bottom: 6px;
  color: var(--cinza-escuro);
  font-weight: bold;
}
.formGroup input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid var(--cinza-claro);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  .buttonContainer {
    text-align: center;
    margin-top: 30px;
  }
}
.buttonContainer {
  display: flex;
  margin-bottom: 18px;
  width: 100%;
  justify-content: center;
}
.buttonContainer button {
  background-color: var(--primary-color);
  color: var(--branco);
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.buttonContainer button:hover {
  background-color: var(--roxo-claro);
}

.cadastrar {
  color: var(--cinza-medio);
  display: block;
  text-align: center;
  
  & small {
    color: var(--primary-color);
  }
}
